<script>
    import NotificationItem from './NotificationItem';

    export default {
        name: 'NotificationsPopup',
        components: {NotificationItem},
        computed: {
            notifications() {
                return [
                    {
                        id: 1,
                        user: {
                            name: 'Nathan',
                            avatar: 'demo/faces/male/41.jpg',
                        },
                        action: 'pushed new commit: Fix page load performance issue.',
                        createdAt: new Date(new Date() - 60000 * 10),
                    },
                    {
                        id: 2,
                        user: {
                            name: 'Alice',
                            avatar: 'demo/faces/female/1.jpg',
                        },
                        action: 'started new task: Tabler UI design.',
                        createdAt: new Date(new Date() - 60000 * 60),
                    },
                    {
                        id: 3,
                        user: {
                            name: 'Rose',
                            avatar: 'demo/faces/female/18.jpg',
                        },
                        action: 'deployed new version of NodeJS REST Api V3.',
                        createdAt: new Date(new Date() - 60000 * 120),
                    },
                ];
            }
        },
        methods: {
            onMarkAsReadClicked() {
                console.log('mark as read');
            }
        }
    };
</script>

<template>
    <div class="dropdown d-none d-md-flex">
        <a class="nav-link icon" data-toggle="dropdown">
            <icon name="fe fe-bell"></icon>
            <span class="nav-unread"></span>
        </a>

        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <notification-item v-for="n in notifications" :key="n.id">
                <avatar src="n.user.avatar" class="mr-3 align-self-center"></avatar>
                <div>
                    <strong>{{ n.user.name }}</strong> {{ n.action }}
                    <div class="small text-muted">{{ n.createdAt|timeAgo }}</div>
                </div>
            </notification-item>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center text-muted-dark" @click="onMarkAsReadClicked">
                {{ $t('link.mark_all_as_read') }}
            </a>
        </div>
    </div>
</template>

<style scoped>

</style>
