<script>
    export default {
        name: 'NotificationItem',
    };
</script>

<template>
    <a href="#" class="dropdown-item d-flex">
        <slot></slot>
    </a>
</template>

<style scoped>

</style>
