<script>
    export default {
        props: {
            active: Boolean,
            textOpen: {type: String, default: 'Open'},
            textClose: {type: String, default: 'Close'},
        },
        data() {
            return {
                isOpened: false
            };
        },
        created() {
            this.isOpened = this.active;
        },
        computed: {
            icon() {
                return this.isOpened ? 'fa-chevron-up' : 'fa-chevron-down';
            },
            text() {
                return this.isOpened ? this.textClose : this.textOpen;
            }
        },
        methods: {
            open() {
                this.isOpened = true;
            },
            close() {
                this.isOpened = false;
            },
            toggle() {
                this.isOpened ? this.close() : this.open();
            }
        }
    };
</script>

<template>
    <div>
        <div v-if="isOpened" class="pt-2">
            <slot></slot>
        </div>
        <div class="trigger">
            <icon name="fa" class="mr-1" :class="icon"></icon>
            <a href="javascript:" @click.prevent="toggle">{{ text }}</a>
        </div>
    </div>
</template>

<style scoped>
    .trigger {
        font-size: 14px;
    }
</style>
