<script>
    import {getTopics} from '../api';
    import Topic from '../components/Topic';

    export default {
        components: {Topic},
        computed: {
            provider: () => getTopics
        }
    };
</script>

<template>
    <paged-data-provider :provider="provider" ref="dataLoader">
        <template slot-scope="{items}">
            <topic :topic="item" v-for="item in items" :key="item.id"></topic>
        </template>
    </paged-data-provider>
</template>
