<script>
    import {getTopic, getTopics} from '../api';

    export default {
        data() {
            return {
                topic: {},
                topics: []
            };
        },
        async beforeRouteEnter(to, from, next) {
            const topic = await getTopic(to.params.slug);
            next(vm => {
                vm.topic = topic;
            });
        },
        async beforeRouteUpdate(to, from, next) {
            this.topic = await getTopic(to.params.slug);
            next();
        },
        async created() {
            this.topics = await getTopics().then(r => r.results);
        },
    };
</script>

<template>
    <div class="row">
        <div class="col-12 col-md-9">
            <card>
                <card-heading>{{ topic.title }}</card-heading>
                <card-body v-html="topic.content"></card-body>
            </card>
        </div>
        <div class="col-12 col-md-3">
            <ol>
                <li v-for="item in topics" :key="item.id">
                    <router-link :to="{name: 'faq/topic', params: {slug: item.slug}}">
                        {{ item.title }}
                    </router-link>
                </li>
            </ol>
        </div>
    </div>
</template>
