<script>
    import range from 'lodash/range';

    export default {
        props: {
            total: {type: Number, default: 0},
            pageSize: {type: [Number, String], default: 50},
            visible: {type: Number, default: 6},
            prevLabel: {type: String, default: '&laquo;'},
            nextLabel: {type: String, default: '&raquo;'},
            value: {type: [Number, String], defualt: 1},
            disabled: Boolean
        },
        computed: {
            totalPages() {
                return Math.ceil(this.total / parseInt(this.pageSize));
            },
            nextPage() {
                return Math.min(this.value + 1, this.totalPages);
            },
            prevPage() {
                return Math.max(1, this.value - 1);
            },

            allPages() {
                return range(1, Math.ceil(this.total / this.size) + 1);
            },

            pageRange() {
                // all pages are in visible range
                if (this.totalPages <= this.visible) {
                    return range(1, this.totalPages + 1);
                }

                // compute median
                let median = Math.ceil(this.visible / 2);
                var lower = null;
                var upper = null;
                if (this.value - median > this.totalPages - this.visible) {
                    lower = this.totalPages - this.visible + 1;
                    upper = this.totalPages;
                } else {
                    if (this.value - median < 0) {
                        median = this.value;
                    }
                    let offset = this.value - median;
                    lower = offset + 1;
                    upper = offset + this.visible;
                }
                return range(lower, upper + 1);
            },
            hasNext() {
                return this.value + 1 <= this.totalPages;
            },
            hasPrev() {
                return this.value - 1 > 0;
            }
        },
        methods: {
            onPageSelected(page) {
                this.$emit('input', page);
            }
        }
    };
</script>

<template>
    <nav class="d-inline-block" v-if="pageRange.length > 1">
        <ul class="pagination" v-bind="$attrs">
            <li class="page-item" :class="{disabled: !hasPrev}">
                <a class="page-link" href="#" @click.prevent="onPageSelected(prevPage)">
                    <span v-html="prevLabel"></span>
                </a>
            </li>
            <li class="page-item" v-for="page in pageRange" :key="page" :class="{active: page == value, disabled}">
                <a class="page-link" href="#" @click.prevent="onPageSelected(page)">{{ page }}</a>
            </li>
            <li class="page-item" :class="{disabled: !hasNext}">
                <a class="page-link" href="#" @click.prevent="onPageSelected(nextPage)">
                    <span v-html="nextLabel"></span>
                </a>
            </li>
        </ul>
    </nav>
</template>
