<script>
    export default {
        name: 'Logo',
        props: {
            src: String,
            route: [String, Object],
            alt: String
        }
    };
</script>

<template>
    <router-link :to="route" class="header-brand">
        <img :src="src" :alt="alt" class="header-brand-img">
    </router-link>
</template>
