<script>
    /**
     * Buttons trigger actions when clicked.
     *
     * @emits click
     */
    export default {
        name: 'Btn',
        props: {
            /**
             * A button type.
             * Default is "button" to prevent accidental form submission.
             */
            type: { type: String, default: 'button' },

            /**
             * primary, secondary, danger, info, success, warning, light, dark, link.
             */
            color: { type: String },

            /**
             * Button size: lg, sm
             */
            size: String,

            /**
             * Renders button in disabled state.
             */
            disabled: Boolean,

            /**
             * Makes button to take 100% width of the parent.
             */
            block: Boolean,

            /**
             * This property will make button's background transparent.
             * Note, this property requires `color` property to be set.
             */
            outline: Boolean,

            /**
             * Add an icon.
             */
            icon: String,

            /**
             * Display an icon at the right side.
             */
            iconRight: String,

            /**
             * When set, button behaves as a regular HTML link.
             */
            href: String,

            /**
             * When set, button will initiate vue-router navigation when clicked.
             */
            route: [Object, String],
        },
        data() {
            return {
                isBusy: false,
            };
        },
        computed: {
            component() {
                if (this.href) {
                    return 'a';
                }

                if (this.route) {
                    return 'router-link';
                }

                return 'button';
            },
            extraProps() {
                if (this.href) {
                    return {
                        href: this.href,
                    };
                }

                if (this.route) {
                    return {
                        to: this.route.constructor === String ? { name: this.route } : this.route,
                    };
                }

                return { type: this.type };
            },
            allAttrs() {
                return Object.assign(this.extraProps, this.$attrs);
            },
            classes() {
                const classes = {
                    'btn': true,
                    'btn-block': this.block,
                    'btn-flat': this.flat,
                };

                if (this.outline) {
                    if (!this.color) {
                        throw new TypeError(
                            '<btn> with "outline" prop requires "color" prop.'
                        );
                    }
                    classes[`btn-outline-${this.color}`] = true;
                } else if (this.color) {
                    classes[`btn-${this.color}`] = true;
                }

                if (this.size) {
                    classes[`btn-${this.size}`] = true;
                }

                return classes;
            },
            isDisabled() {
                if (this.disabled) {
                    return true;
                }

                return this.isBusy;
            },
        },
        methods: {
            /**
             * Disables button while promise is not resolved.
             *
             * @public
             * @param promise
             * @returns {Promise<*>}
             */
            async disableWhile(promise) {
                try {
                    this.isBusy = true;
                    await promise;
                } finally {
                    setTimeout(async() => {
                        this.isBusy = false;
                    }, 500);
                }
                return promise;
            },
        },
    };
</script>

<template>
    <component :is="component" :disabled="isDisabled" :class="classes" v-bind="allAttrs" v-on="$listeners">
        <icon :name="icon" v-if="icon" class="icon-left mr-1"></icon>
        <slot></slot>
        <icon :name="iconRight" v-if="iconRight" class="icon-right ml-1"></icon>
    </component>
</template>
