<script>
    /**
     * Buttons trigger actions when clicked.
     *
     * @emits click
     */
    export default {
        name: 'BtnIcon',
        props: {
            /**
             * Add an icon.
             */
            icon: String,
        },
        methods: {
            /**
             * Disables button while promise is not resolved.
             *
             * @public
             * @param promise
             * @returns {Promise<*>}
             */
            async disableWhile(promise) {
                return this.$el.disableWhile(promise);
            },
            onClicked(e) {
                this.$emit('click', e);
            }
        },
    };
</script>

<template>
    <btn v-bind="$attrs" v-on="$listeners" class="btn-icon-only" @click="onClicked">
        <icon :name="icon"></icon>
    </btn>
</template>


<style lang="scss" scoped>
    .btn-icon-only {
        border-radius: 100%;
        background: rgba(0, 0, 0, 0);
        transition: background-color .3s;

        &:hover:not([disabled]) {
            background: rgba(0, 0, 0, .1);
        }
    }
</style>
