<script>
    export default {
        name: 'NotFound',
        metaInfo: {
            title: 'title.error_404'
        }
    };
</script>

<template>
    <div class="page">
        <div class="page-content">
            <div class="container text-center">
                <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 404</div>
                <h1 class="h2 mb-3">{{ 'title.error_404'|trans }}</h1>
                <router-link class="btn btn-primary" :to="{name: 'home'}">
                    {{ 'link.goto_home'|trans }}
                </router-link>
            </div>
        </div>
    </div>
</template>
