<script>
    import auth from '../auth';

    export default {
        name: 'ChangePassword',
        data() {
            return {
                isValid: false,
                formData: {
                    current_password: '',
                    password: '',
                }
            };
        },
        methods: {
            async onSubmit() {
                const form = this.$refs.form;
                if (await form.validate()) {
                    try {
                        await this.$refs.btn.disableWhile(
                            auth.changePassword(this.formData)
                        );
                        this.$toast.success(this.$t('toast.password_changed'));
                    } catch (e) {
                        if ('response' in e) {
                            form.handleResponse(e.response);
                        } else {
                            console.error(e);
                            this.$toast.error(e.toString());
                        }
                    }
                }
            },
        }
    };
</script>

<template>
    <card>
        <card-header>
            <card-title>{{ 'title.change_password'|trans }}</card-title>
        </card-header>
        <card-body>
            <v-form method="post" @submit.prevent="onSubmit" ref="form" v-model="isValid">
                <form-group :label="__('label.current_password')">
                    <password-field required reveal name="current_password"
                                    v-model="formData.current_password"></password-field>
                </form-group>

                <form-group :label="__('label.new_password')">
                    <password-field required reveal name="password" rules="required"
                                    v-model="formData.password"></password-field>
                </form-group>

                <form-actions>
                    <btn type="submit" color="primary" :disabled="!isValid" ref="btn">
                        {{ 'button.change_password'|trans }}
                    </btn>
                </form-actions>
            </v-form>
        </card-body>
    </card>
</template>
