<script>
    export default {
        name: 'ProfilePhoto',
        methods: {
            async onImageSelected(photo) {
                try {
                    await this.$store.dispatch('auth/uploadProfileImage', photo);
                    this.$toast.success(this.$t('toast.profile_image_updated'));
                } catch (e) {
                    console.log(e);
                }
            },
            async onImageRemove() {
                await this.$store.dispatch('auth/removeProfileImage');
                this.$toast.success(this.$t('toast.profile_image_removed'));
            }
        },
        watch: {
            user: {
                deep: true,
                handler() {
                    this.formData = Object.assign({}, this.formData, this.cloneUser(['name']));
                }
            }
        }
    };
</script>

<template>
    <card>
        <card-header>
            <card-title>{{ 'title.profile_photo'|trans }}</card-title>
        </card-header>
        <card-body>
            <form method="post" @submit.prevent="onSubmit" ref="form">
                <image-field
                    class="text-center"
                    :src="user.photo"
                    @input="onImageSelected"
                    @remove="onImageRemove"></image-field>
            </form>
        </card-body>
    </card>
</template>
