<script>
    /**
     * Use this component when you need to conditionally render HTML content.
     * The child content is rendered only if required permissions are satisfied.
     *
     * Usage:
     *  <require-permissions [:any] [:all]>
     *      <btn>Create user</btn>
     *  </require-permissions>
     *
     *  Notes:
     *      Either "any" or "all" props must be defined at same time. Not both.
     *      Permission can start with "!". Then components does negative check:
     *          all = ['can_edit', '!can_delete'] -- true for users, who has can_edit AND NOT has can_delete
     *          any = ['can_edit', '!can_delete'] -- true for users, who has can_edit OR NOT has can_delete
     */

    import { canAll, canAny } from '../checks';

    export default {
        props: {
            any: { type: [Array, String], default: () => [] },
            all: { type: [Array, String], default: () => [] }
        },
        abstract: true,
        created() {
            if (this.any.length && this.all.length) {
                throw new Error('Either "all" or "any" must be set. Not both.');
            }
        },
        computed: {
            currentUserPermissions() {
                return this.$store.state.auth.permissions;
            },
            isAllowed() {
                if (this.all.length) {
                    return canAll(this.all, this.currentUserPermissions);
                }

                if (this.any.length) {
                    return canAny(this.any, this.currentUserPermissions);
                }

                return true;
            }
        },
        render() {
            let content = null;
            if (this.isAllowed) {
                // handler case, where <require-permisisons> has no child html.
                content = this.$slots.default ? this.$slots.default[0] : null;
            }
            return content;
        }
    };
</script>

