<script>
    export default {
        name: 'RequireAuth',
        computed: {
            isAuthenticated() {
                return this.$store.getters['auth/authenticated'];
            }
        }
    };
</script>

<template>
    <div v-if="isAuthenticated">
        <slot></slot>
    </div>
    <div v-else>
        <slot name="fallback"></slot>
    </div>
</template>
