<script>
    import {resendEmailCode} from '../resources';

    export default {
        name: 'VerifyEmailAlert',
        data() {
            return {
                resendAllowed: true
            };
        },
        methods: {
            async onResendClicked() {
                try {
                    this.resendAllowed = false;
                    await resendEmailCode();
                    this.$toast.success(this.$t('toast.email_verification_resent'));
                } catch (e) {
                    console.error(e);
                    this.$toast.error(e.toString());
                } finally {
                    setTimeout(() => {
                        this.resendAllowed = true;
                    }, 30000);
                }
            }
        }
    };
</script>

<template>
    <alert info icon="fe fe-alert-triangle">
        {{ 'text.email_verification_required'|trans }}
        <div v-if="resendAllowed">
            {{ 'text.didnt_get_verification_email'|trans }}
            <a href="#" @click.prevent="onResendClicked">
                {{ 'button.resend_email_verification'|trans }}
            </a>
        </div>
    </alert>
</template>
