<script>
    export default {
        name: 'CardHeading',
    };
</script>

<template>
    <div class="card-header">
        <card-title>
            <slot></slot>
        </card-title>
    </div>
</template>

<style scoped>

</style>
