<script>
    export default {
        name: 'Card',
        props: {
            compact: Boolean
        },
        computed: {
            classes() {
                return {
                    'card': true,
                    'card-compact': this.compact,
                };
            }
        }
    };
</script>

<template>
    <div :class="classes">
        <slot></slot>
    </div>
</template>

<style lang="scss">
    .card-compact {
        margin-bottom: 1rem;

        .card-body, .card-footer {
            padding: 0.8rem;
        }
    }
</style>
