<script>
    import UserPhoto from './UserPhoto';

    export default {
        name: 'UserMenu',
        components: {UserPhoto},
        props: {
            photo: Boolean
        }
    };
</script>

<template>
    <div class="dropdown">
        <a href="#" class="nav-link pr-0 leading-none align-content-center" data-toggle="dropdown">
            <user-photo v-if="photo"></user-photo>
            <span class="ml-2 d-none d-lg-block">
                <span class="text-default">{{ user.full_name }}</span>
            </span>
        </a>
        <dropdown right arrow>
            <slot></slot>
        </dropdown>
    </div>
</template>
