<script>
    export default {
        name: 'MainMenu',
        props: {
            mobileVisible: Boolean
        }
    };
</script>

<template>
    <ul class="nav nav-tabs border-0 flex-lg-row" :class="{'flex-column': !mobileVisible}">
        <slot></slot>
    </ul>
</template>
