<script>
    export default {
        name: 'MainMenuItem',
        props: {
            icon: String,
            route: Object
        }
    };
</script>

<template>
    <li class="nav-item">
        <router-link :to="route" class="nav-link">
            <icon :name="icon" v-if="icon"></icon>
            <slot></slot>
        </router-link>
    </li>
</template>

<style scoped>

</style>
