<script>
    import MainMenuItem from './MainMenuItem';
    export default {
        name: 'MainSubMenu',
        extend:MainMenuItem,
    };
</script>

<template>
    <div class="dropdown-menu dropdown-menu-arrow">
        <slot></slot>
        <slot name="menu"></slot>
    </div>
</template>

<style scoped>

</style>
