<script>
    export default {
        name: 'DropdownItem',
        props: {
            route: Object,
            icon: String
        },
        computed: {
            component() {
                return this.route ? 'router-link' : 'span';
            }
        }
    };
</script>

<template>
    <component :is="component" class="dropdown-item" v-bind="$attrs" :to="route" v-on="$listeners">
        <icon class="dropdown-icon" :name="icon" v-if="icon"></icon>
        <slot></slot>
    </component>
</template>

<style scoped>
    .dropdown-item {
        cursor: pointer;
    }
</style>
