<script>
    export default {
        name: 'Dropdown',
        props: {
            arrow: Boolean,
            right: Boolean,
        },
        computed: {
            classes() {
                const list = ['dropdown-menu'];

                if (this.arrow) {
                    list.push('dropdown-menu-arrow');
                }

                if (this.right) {
                    list.push('dropdown-menu-right');
                }

                return list;
            }
        }
    };
</script>

<template>
    <div :class="classes">
        <slot></slot>
    </div>
</template>
