<script>
    export default {
        name: 'ListMenuItem',
        props: {
            icon: String,
            route: Object,
        },
        computed: {
            tag() {
                return this.route ? 'router-link' : 'span';
            }
        }
    };
</script>

<template>
    <component :to="route" :is="tag" class="list-group-item list-group-item-action" v-bind="$attrs">
        <span class="icon mr-3" v-if="icon">
            <i :class="icon"></i>
        </span>
        <slot></slot>
    </component>
</template>

<style lang="scss" scoped>
    i {
        width: 16px;
        height: 16px;
    }
</style>
