<script>
    export default {
        name: 'ListMenu',
        props: {
            transparent: Boolean,
        },
        computed: {
            classes() {
                return {
                    'list-group': true,
                    'list-group-transparent': this.transparent
                };
            }
        }
    };
</script>

<template>
    <div :class="classes">
        <slot></slot>
    </div>
</template>
