<script>
    import auth from '../auth';

    export default {
        name: 'ForgotPassword',
        metaInfo: {
            title: 'page_title.password_reset',
        },
        data() {
            return {
                formData: {
                    email: null
                }
            };
        },
        methods: {
            async onSubmit() {
                const form = this.$refs.form;
                if (await form.validate()) {
                    try {
                        await this.$refs.btn.disableWhile(
                            auth.requestPasswordReset(this.formData.email)
                        );
                        this.$toast.success(this.$t('toast.password_reset_link_sent'));
                    } catch (e) {
                        if ('response' in e) {
                            form.handleResponse(e.response);
                        } else {
                            console.error(e);
                            this.$toast.error(e.toString());
                        }
                    }
                }
            }
        }
    };
</script>

<template>
    <div>
        <card>
            <card-body class="p-6">
                <card-title>{{ 'title.password_reset'|trans }}</card-title>

                <p class="text-muted">
                    {{ 'text.reset_password_text'|trans }}
                </p>

                <v-form @submit="onSubmit" ref="form">
                    <form-group>
                        <email-field
                            name="email"
                            autocomplete="email"
                            required
                            v-model="formData.email"
                            :placeholder="__('placeholder.enter_email')"></email-field>
                    </form-group>
                    <form-actions>
                        <btn block color="primary" type="submit" ref="btn">
                            {{ __('button.reset_password') }}
                        </btn>
                    </form-actions>
                </v-form>
            </card-body>
        </card>
        <div class="text-center text-muted">
            {{ 'link.question_no_account'|trans }}
            <router-link :to="{name: 'register'}">
                {{ 'link.register_now'|trans }}
            </router-link>
        </div>
    </div>
</template>
