<script>
    export default {
        name: 'Login',
        metaInfo: {
            title: 'page_title.sign_in'
        },
        props: {
            redirectTo: {type: Object, default: () => ({name: 'home'})}
        },
        data() {
            return {
                formData: {
                    email: '',
                    password: '',
                }
            };
        },
        created() {
            if (this.$store.getters['auth/authenticated']) {
                this.$router.replace(this.redirectTo);
            }
        },
        methods: {
            async onSubmit() {
                const form = this.$refs.form;
                if (await form.validate()) {
                    try {
                        await this.$refs.btn.disableWhile(
                            this.$store.dispatch('auth/login', this.formData)
                        );
                        this.$router.push(this.redirectTo);
                    } catch (e) {
                        if ('response' in e) {
                            form.handleResponse(e.response);
                            this.$emit('error', e.response.data);
                        } else {
                            console.error(e);
                            this.$toast.error(e.message);
                        }
                    }
                }
            }
        }
    };
</script>

<template>
    <div>
        <card>
            <card-body class="p-6">
                <card-title>{{ 'title.sign_in'|trans }}</card-title>
                <v-form @submit="onSubmit" ref="form">
                    <form-group :label="__('label.email')">
                        <email-field name="email" autocomplete="email" autofocus
                                     v-model="formData.email"></email-field>
                    </form-group>
                    <form-group :label="__('label.password')">
                        <password-field name="password" autocomplete="current-password"
                                        v-model="formData.password"></password-field>
                        <template slot="label" slot-scope="{label}">
                            {{label}}
                            <router-link :to="{name: 'forgot-password'}" class="float-right small" tabindex="-1">
                                {{ 'link.forgot_password'|trans }}
                            </router-link>
                        </template>
                    </form-group>
                    <form-actions>
                        <btn block color="primary" type="submit" ref="btn">
                            {{ 'button.login'|trans }}
                        </btn>
                    </form-actions>
                </v-form>
            </card-body>
        </card>
        <div class="text-center text-muted">
            {{ 'link.question_no_account'|trans }}
            <router-link :to="{name: 'register'}">
                {{ 'link.register_now'|trans }}
            </router-link>
        </div>
    </div>
</template>
