<script>
    import axios from 'axios';

    const DEFAULT_ENDPOINT = '/register/';

    export default {
        name: 'Register',
        props: {
            termsUrl: String,
            recaptchaKey: String,
            withPhone: Boolean,
            withCaptcha: Boolean,
            redirectTo: {type: Object, default: () => ({name: 'home'})},
            endpoint: {type: String, default: DEFAULT_ENDPOINT},
            autologin: Boolean,
        },
        metaInfo: {
            title: 'page_title.register'
        },
        data() {
            return {
                formData: {
                    email: '',
                    password: '',
                    terms: false,
                    first_name: '',
                    last_name: '',
                    recaptcha: '',
                    phone: '',
                }
            };
        },
        computed: {
            recaptchaLang() {
                return this.$i18n.locale;
            }
        },
        methods: {
            async register(payload) {
                return axios.post(this.endpoint, payload);
            },
            async onSubmit() {
                const form = this.$refs.form;
                try {
                    await this.$refs.btn.disableWhile(
                        this.register(this.formData).then(r => r.data)
                    );

                    if (this.autologin) {
                        await this.$store.dispatch('auth/login', {
                            email: this.formData.email,
                            password: this.formData.password
                        });
                    }
                    this.$router.replace(this.redirectTo);
                } catch (e) {
                    if ('response' in e) {
                        form.handleResponse(e.response);
                    } else {
                        console.error(e);
                        this.$toast.error(e.message);
                    }
                }
            }
        }
    };
</script>

<template>
    <div>
        <card>
            <card-body class="p-6">
                <card-title>{{ 'title.register'|trans }}</card-title>
                <v-form @submit="onSubmit" ref="form">
                    <slot :form-data.sync="formData">
                        <form-group :label="__('label.first_name')">
                            <text-field
                                name="first_name"
                                autocomplete="given-name"
                                required
                                v-model="formData.first_name"></text-field>
                        </form-group>

                        <form-group :label="__('label.last_name')">
                            <text-field
                                name="last_name"
                                autocomplete="family-name"
                                required
                                v-model="formData.last_name"></text-field>
                        </form-group>

                        <form-group :label="__('label.email')">
                            <email-field
                                name="email"
                                autocomplete="email"
                                required
                                v-model="formData.email"></email-field>
                        </form-group>

                        <form-group :label="__('label.password')">
                            <password-field
                                name="password"
                                autocomplete="password"
                                required
                                reveal
                                v-model="formData.password"></password-field>
                        </form-group>

                        <form-group :label="__('label.phone')" v-if="withPhone">
                            <phone-field
                                name="phone"
                                required
                                autocomplete="tel"
                                reveal
                                v-model="formData.phone"></phone-field>
                        </form-group>

                        <form-group>
                            <toggle-field
                                name="terms"
                                value="1"
                                v-model="formData.terms"
                                required>
                                {{ 'label.agree_with_terms'|trans }}
                                <a :href="termsUrl" target="_blank">{{ 'link.agree_terms_and_conditions'|trans }}</a>.
                            </toggle-field>
                        </form-group>

                        <form-group v-if="withCaptcha">
                            <recaptcha-field
                                name="recaptcha"
                                v-model="formData.recaptcha"
                                rules="required"
                                :lang="recaptchaLang"
                                :sitekey="recaptchaKey"></recaptcha-field>
                        </form-group>

                        <slot name="extraFields" :form-data.sync="formData"></slot>

                        <form-actions>
                            <btn block color="primary" type="submit" ref="btn">
                                {{ 'button.create_account'|trans }}
                            </btn>
                        </form-actions>
                    </slot>
                </v-form>
            </card-body>
        </card>
        <div class="text-center text-muted">
            {{ 'link.question_have_account'|trans }}
            <router-link :to="{name: 'login'}">
                {{ 'link.sign_in'|trans }}
            </router-link>
        </div>
    </div>
</template>
