<script>
    import auth from '../auth';

    export default {
        name: 'ResetPassword',
        metaInfo: {
            title: 'page_title.set_new_password',
        },
        props: {
            token: {
                type: String,
                required: true,
            }
        },
        data() {
            return {
                formData: {
                    email: null,
                    password: null,
                }
            };
        },
        methods: {
            async onSubmit() {
                const form = this.$refs.form;
                if (await form.validate()) {
                    try {
                        await this.$refs.btn.disableWhile(
                            auth.resetPassword({
                                ...this.formData,
                                token: this.token,
                                password_confirmation: this.formData.password,
                            })
                        );
                        this.$toast.success(this.$t('toast.password_reset'));
                        await this.$store.dispatch('auth/login', this.formData);
                        this.$router.replace({name: 'home'});
                    } catch (e) {
                        if ('response' in e) {
                            form.handleResponse(e.response);
                        } else {
                            console.error(e);
                            this.$toast.error(e.toString());
                        }
                    }
                }
            }
        }
    };
</script>

<template>
    <div>
        <card>
            <card-body class="p-6">
                <card-title>{{ 'title.set_new_password'|trans }}</card-title>

                <v-form @submit="onSubmit" ref="form">
                    <form-group>
                        <email-field
                            name="email"
                            autocomplete="email"
                            required
                            v-model="formData.email"
                            :placeholder="__('placeholder.enter_email')"></email-field>
                    </form-group>

                    <form-group>
                        <password-field
                            name="password"
                            autocomplete="new-password"
                            v-model="formData.password"
                            reveal
                            :placeholder="__('placeholder.enter_password')"
                            rules="required"></password-field>
                    </form-group>

                    <form-actions>
                        <btn block color="primary" type="submit" ref="btn">
                            {{ 'button.set_new_password'|trans }}
                        </btn>
                    </form-actions>
                </v-form>
            </card-body>
        </card>
        <div class="text-center text-muted">
            {{ 'link.question_no_account'|trans }}
            <router-link :to="{name: 'register'}">
                {{ 'link.register_now'|trans }}
            </router-link>
        </div>
    </div>
</template>
