<script>
    export default {
        name: 'Alert',
        props: {
            heading: String,
            icon: String,
            closeable: Boolean,
            color: {type: String, default: 'info'}
        },
        computed: {
            classes() {
                const list = ['alert', `alert-${this.color}`];

                if (this.closeable) {
                    list.push('alert-dismissible');
                }

                return list;
            }
        },
        methods: {
            onClose() {
                this.$emit('close');
            },
        }
    };
</script>

<template>
    <div :class="classes" role="alert" class="d-flex">
        <div class="mr-2 flex-grow-0" v-if="icon">
            <i :class="icon" aria-hidden="true"></i>
        </div>
        <div>
            <h4 v-if="heading">{{heading}}</h4>

            <slot name="pre"></slot>
            <slot></slot>
            <slot name="post"></slot>

            <button type="button" class="close" aria-label="Close" v-if="closeable" @click="onClose">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</template>
