<script>
    export default {
        name: 'Droparea',
        data() {
            return {
                isActive: false
            };
        },
        computed: {
            cssClasses() {
                return {
                    droparea: true,
                    active: this.isActive
                };
            }
        },
        methods: {
            onDragEnd() {
                this.isActive = false;
            },
            onDragOver(e) {
                if (e.dataTransfer.types.indexOf('Files') !== -1) {
                    this.isActive = true;
                }
            },
            onDrop(e) {
                this.onDragEnd();
                const transfer = e.dataTransfer;
                const files = [];
                if (transfer.items) {
                    for (const item of transfer.items) {
                        if (item.kind === 'file') {
                            files.push(item.getAsFile());
                        }
                    }
                } else {
                    for (const item of transfer.files) {
                        files.push(item);
                    }
                }
                this.onFileSelected(files);
            },
            onFileSelected(files) {
                /**
                 * Emits array of selected (or dropped) files.
                 * @event input
                 * @type {Array}
                 */
                this.$emit('input', files);
            }
        }
    };
</script>

<template>
    <div :class="cssClasses" @dragover.prevent="onDragOver" @dragend.prevent="onDragEnd">
        <div class="text-center">
            <slot>
                <file-field @input="onFileSelected" multiple>
                    {{ 'label.drop_or_click_to_upload'|trans }}
                </file-field>
            </slot>
        </div>
        <div class="overlay" @dragleave="onDragEnd" @drop.prevent.stop="onDrop">
            {{ 'label.drop_files'|trans }}
        </div>
    </div>
</template>

<style scoped lang="scss">
    .droparea {
        border: 2px solid transparent;
        position: relative;
        min-height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;

        .overlay {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: none;
            background: white;
            text-align: center;
            font-size: 22px;
            color: #555;
        }

        &.active {
            border-style: dashed;
            border-color: var(--warning);

            .overlay {
                display: flex;
                align-items: center;
                justify-content: center;
                background: rgba(255, 255, 255, .8);
            }
        }
    }
</style>
