<script>
    export default {
        name: 'FieldErrors',
        props: {
            errors: Array
        }
    };
</script>

<template>
    <div class="text-danger" role="alert">
        <slot></slot>
    </div>
</template>
