<script>
    import FieldLabel from './FieldLabel';
    import FieldErrors from './FieldErrors';
    import {Validator} from 'vee-validate';

    export default {
        name: 'FormGroup',
        props: {
            label: String,
            help: String,
            validator: Object,
        },
        components: {FieldErrors, FieldLabel},
        data() {
            return {
                field: null,
            };
        },
        inject: {
            form: {
                default: null
            },
            formValidator: {
                default: new Validator()
            },
        },
        provide() {
            return {
                formGroup: this
            };
        },
        mounted() {
            if (this.form) {
                this.form.formGroups.push(this);
            }

            if (this.formValidator && this.field) {
                this.configureValidator();
            }
        },
        computed: {
            hasValidationErrors() {
                return this.fieldErrors.length;
            },

            fieldErrors() {
                return this.formValidator.errors.collect(this.field.name);
            },

            isValid() {
                if (!this.field) {
                    return true;
                }

                const isValid = this.formValidator.errors.has(this.field.name);
                if (isValid) {
                    this.field.$el.removeClass('is-invalid');
                } else {
                    this.field.$el.addClass('is-invalid');
                }
                return isValid;
            }
        },
        methods: {
            configureValidator() {
                let rules = this.field.rules.split('|').filter(r => !!r);
                if (this.field.required && !this.field.rules.includes('required')) {
                    rules.push('required');
                }

                this.formValidator.attach({
                    name: this.field.name,
                    rules: rules.join('|'),
                    el: this.field.$el,
                    alias: this.label,
                    vm: this.form,
                    listen: true,
                    component: this.field,
                    getter: () => {
                        return this.field.getValue();
                    }
                });

                this.field.$on('input', () => {
                    this.formValidator.remove(this.field.name);
                });

                this.field.$on('blur', async() => {
                    await this.formValidator.validate(this.field.name, this.field.getValue());
                });
            }
        }
    };
</script>

<template>
    <div class="form-group">
        <field-label v-if="label">
            <slot name="label" :label="label">{{label}}</slot>
            <span class="form-required" v-if="field && field.required">*</span>
        </field-label>

        <slot></slot>

        <div class="text-muted" v-if="help">{{help}}</div>

        <slot name="errors">
            <field-errors v-if="field && hasValidationErrors">
                <div v-for="error in fieldErrors" :key="error">
                    {{error}}
                </div>
            </field-errors>
        </slot>

    </div>
</template>
