<script>
    /**
     * A form component.
     *
     * Renders form elements, validates and show messages to user.
     *
     * Exported as "m-form" component.
     * Signature: <m-form [@submit] [@reset]></m-form>
     *
     * Usage (with all required subcomponents):
     *  <m-form @submit="onSubmit">
     *      <form-group label="Field label" help="Field help">
     *          <text-field name="fieldName" value="a" v-model="a" required />
     *      </form-group>
     *      <form-actions>
     *          <btn color="primary" type="submit" label="Submit" />
     *      </form-actions>
     *  </m-form>
     *
     */
    import { Validator } from 'vee-validate';

    export default {
        name: 'VForm',
        props: {
            legend: String,
            help: String
        },
        data() {
            return {
                formGroups: [],
                nonFieldErrors: [],
                validator: new Validator(),
            };
        },
        provide() {
            return {
                form: this,
                formValidator: this.validator,
            };
        },
        created() {
            Object.defineProperty(this, '$validator', {
                get() {
                    return this.validator;
                }
            });
        },
        computed: {
            isValid() {
                return this.validator.errors.count() === 0;
            },
            fieldNames() {
                return this.formGroups.map(g => g.field.name);
            }
        },
        methods: {
            handleResponse(response, toast = true) {
                if (response.status < 400) {
                    return;
                }

                if ('errors' in response.data) {
                    this.setErrors(response.data.errors);
                }

                const nonFieldErrors = [];
                if ('message' in response.data && toast) {
                    nonFieldErrors.push(response.data.message);
                }

                if ('detail' in response.data && toast) {
                    nonFieldErrors.push(response.data.detail);
                }

                if (nonFieldErrors.length) {
                    this.nonFieldErrors = nonFieldErrors;
                    setTimeout(this.clearErrors, 5000);
                }
            },

            /**
             * Set errors per each field.
             *
             * NOTE: this is a stub for future validator.
             */
            setFieldErrors(errors) {
                for (const field in errors) {
                    this.validator.errors.remove(field);
                    this.validator.errors.add({
                        field: field, msg: errors[field].join(' ')
                    });
                }
            },

            /**
             * Display form errors.
             * Errors format:
             * {
             *    fieldName: ['errors', 'array'],
             *    nonFieldErrors: ['same', 'format'],
             *    detail: 'string message'
             * }
             */
            setErrors(errors) {
                const fieldErrors = {};
                let nonFieldErrors = [];

                Object.keys(errors).forEach(k => {
                    let strings = errors[k];
                    if (strings.constructor !== Array) {
                        strings = [strings];
                    }

                    if (this.fieldNames.includes(k)) {
                        fieldErrors[k] = strings;
                        return;
                    }

                    nonFieldErrors = nonFieldErrors.concat(strings);
                });

                this.nonFieldErrors = nonFieldErrors;
                this.setFieldErrors(fieldErrors);
            },

            clearErrors() {
                this.nonFieldErrors = [];
            },

            /**
             * Submit form.
             * Triggers "submit" event.
             */
            async submit() {
                this.$refs.form.submit();
            },

            /**
             * Reset form.
             * Triggers "reset" event.
             */
            reset() {
                this.$refs.form.reset();
            },

            /**
             * Submit handler.
             * Emits Vue-bound "submit" event.
             */
            async onSubmit(e) {
                if (await this.validate()) {
                    this.$emit('submit', e);
                }
            },

            async validate() {
                this.$validator.errors.clear();
                const isValid = await this.validator.validateAll();
                this.$emit('input', isValid);
                return isValid;
            }
        },
        watch: {
            isValid: {
                handler() {
                    this.$emit('input', this.isValid);
                },
                immediate: true
            }
        },
    };
</script>

<template>
    <form ref="form" @submit.prevent="onSubmit" @reset.prevent="onReset" novalidate>
        <fieldset>
            <legend v-if="legend">{{ legend }}</legend>
            <span class="help-block" v-if="help">{{ help }}</span>

            <alert color="danger" v-if="nonFieldErrors.length" @close="clearErrors" closeable>
                <span v-for="msg in nonFieldErrors" :key="msg">{{msg}}<br/></span>
            </alert>

            <slot></slot>
        </fieldset>
    </form>
</template>


<style lang="scss" scoped>
    .messages {
        margin: 16px 0;
    }
</style>
