<script>
    import FieldMixin from './field';

    export default {
        name: 'CheckboxField',
        mixins: [FieldMixin],
        model: {
            prop: 'values',
            event: 'change'
        },
        props: {
            label: String,
            inline: Boolean,
            values: [Boolean, Array, Number],
        },
        data() {
            return {
                localValue: null
            };
        },
        computed: {
            labelClasses() {
                const list = ['custom-control', 'custom-checkbox'];
                if (this.inline) {
                    list.push('custom-control-inline');
                }
                return list;
            },
            checked() {
                if (this.values.constructor === Array) {
                    return this.values.includes(this.value);
                }
                return this.values == this.value;
            }
        },
        methods: {
            getValue() {
                // used by validator
                return this.$refs.field.checked ? true : null;
            },
            onInput() {
                this.$emit('input', this.localValue);
            },
            onChange() {
                this.$emit('change', this.localValue);
            }
        },
        watch: {
            values: {
                handler(val) {
                    this.localValue = val;
                },
                immediate: true
            },
        }
    };
</script>

<template>
    <label :class="labelClasses">
        <input
            type="checkbox"
            class="custom-control-input"
            :name="name"
            :value="value"
            ref="field"
            v-bind="$attrs"
            v-model="localValue"
            @input="onInput"
            @change="onChange"/>
        <div class="custom-control-label" v-if="label || $slots.default">
            <slot>{{ label }}</slot>
        </div>
    </label>
</template>

