<script>
    export default {
        name: 'FileField',
        props: {
            multiple: Boolean,
            preview: {type: Boolean, default: true},
        },
        data() {
            return {
                files: []
            };
        },
        computed: {
            hasSelectedFiles() {
                return this.files.length;
            }
        },
        methods: {
            onClicked() {
                this.$refs.file.click();
            },
            onFileSelected(e) {
                const files = e.target.files;
                this.files = files;

                if (this.multiple) {
                    this.$emit('input', Array.from(files));
                } else {
                    this.$emit('input', files[0]);
                }
            },
            onClear() {
                if (this.multiple) {
                    this.$emit('input', []);
                } else {
                    this.$emit('input', null);
                }

                this.files = [];
                this.$emit('clear');
            }
        }
    };
</script>

<template>
    <div>
        <btn @click="onClicked">
            <slot>{{ 'button.select_file'|trans }}</slot>
        </btn>
        <div v-if="hasSelectedFiles && preview" class="d-flex mt-3">
            <div>
                <div v-for="file in files" :key="file.name">{{ file.name }}</div>
            </div>
            <div class="text-right ml-2">
                <btn @click="onClear" size="sm">Clear</btn>
            </div>
        </div>
        <input type="file" :multiple="multiple" ref="file" v-bind="$attrs" class="d-none" @input="onFileSelected"/>
    </div>
</template>
