<script>
    export default {
        name: 'ImageField',
        props: {
            src: String
        },
        data() {
            return {
                selectedFile: null
            };
        },
        computed: {
            previewUrl() {
                if (this.selectedFile) {
                    return URL.createObjectURL(this.selectedFile);
                }
                return this.src;
            }
        },
        methods: {
            onInput(file) {
                this.selectedFile = file;
                this.$emit('input', file);
            },
            onClearClicked() {
                this.selectedFile = null;
            },
            onRemoveClicked() {
                this.selectedFile = null;
                this.$emit('remove');
            }
        }
    };
</script>

<template>
    <div class="image-field">
        <div v-if="previewUrl" class="preview">
            <img :src="previewUrl" crossorigin="anonymous"/>
        </div>
        <div class="d-flex justify-content-between">
            <file-field accept="image/png,image/jpeg" :preview="false" v-bind="$attrs" @input="onInput" @clear="onClearClicked"></file-field>
            <btn link @click="onRemoveClicked" v-if="previewUrl">{{ 'button.remove_image'|trans }}</btn>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .image-field {
        .preview {
            margin-bottom: 8px;
            text-align: center;
            background: #eee;
            img {
                max-width: 200px;
            }
        }
    }
</style>
