<script>
    import FieldMixin from './field';

    export default {
        name: 'PasswordField',
        mixins: [FieldMixin],
        props: {
            autocomplete: {type: String, default: 'new-password'}
        },
        data() {
            return {
                type: 'password'
            };
        },
        methods: {
            show() {
                this.type = 'text';
            },

            hide() {
                this.type = 'password';
            }
        }
    };
</script>

<template>
    <div class="password-field">
        <input
            class="form-control"
            :type="type"
            :autocomplete="autocomplete"
            v-bind="$attrs"
            :value="value"
            @input="onInput"
            @change="onChange"
            @focus="onFocus"
            @blur="onBlur"
        />

        <div class="icon" @mousedown="show" @mouseup="hide">
            <i class="fe fe-eye"></i>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .password-field {
        position: relative;;

        .icon {
            display: none;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 32px;
            cursor: pointer;
            align-items: center;
            justify-content: center;
        }

        &[reveal] {
            .icon {
                display: flex;

                &:active {
                    color: #999;
                }
            }
        }
    }
</style>
