<script>
    import FieldMixin from './field';
    const formatNumber = require('libphonenumber-js').formatNumber;

    export default {
        name: 'PhoneField',
        mixins: [FieldMixin],
        props: {
            autocomplete: {type: String, default: 'tel'},
            format: {type: String, default: 'International'}
        },
        data() {
            return {
                shouldFormat: true
            };
        },
        computed: {
            formattedValue() {
                if (!this.shouldFormat) {
                    return this.value;
                }

                /* eslint-disable-next-line */
                this.shouldFormat = false;
                return formatNumber(this.value || '', 'International');
            }
        },
        methods: {
            onInput() {
                this.$emit('input', this.$el.value.replace(/[^+^\d]/g, ''));
            },
            onChange(e) {
                this.shouldFormat = true;
                this.$emit('change', e);
            }
        }
    };
</script>

<template>
    <input
        type="tel"
        class="form-control"
        :name="name"
        :autocomplete="autocomplete"
        :value="formattedValue"
        v-bind="$attrs"
        @input="onInput"
        @change="onChange"
        @blur="onBlur"
        @focus="onFocus"
    />
</template>
