<script>
    import FieldMixin from './field';

    export default {
        name: 'RadioField',
        mixins: [FieldMixin],
        model: {
            prop: 'values',
            event: 'change'
        },
        props: {
            label: String,
            inline: Boolean,
            values: [String, Number],
        },
        data() {
            return {
                localValue: []
            };
        },
        computed: {
            labelClasses() {
                const list = ['custom-control', 'custom-radio'];
                if (this.inline) {
                    list.push('custom-control-inline');
                }
                return list;
            },
        },
        methods: {
            getValue() {
                // used by validator
                return this.localValue;
            },
            onInput() {
                this.$emit('input', this.localValue);
            },
            onChange() {
                this.$emit('change', this.localValue);
            }
        },
        watch: {
            values: {
                handler(val) {
                    this.localValue = val;
                },
                immediate: true
            },
        }
    };
</script>

<template>
    <label :class="labelClasses">
        <input
            :name="name"
            type="radio"
            class="custom-control-input"
            v-bind="$attrs"
            :value="value"
            v-model="localValue"
            @change="onChange"
            @input="onInput">
        <div class="custom-control-label" v-if="label || $slots.default">
            <slot>{{ label }}</slot>
        </div>
    </label>
</template>

