<script>
    import FieldMixin from './field';
    import rangeRight from 'lodash/rangeRight';

    export default {
        name: 'RangeField',
        mixins: [FieldMixin],
        props: {
            placeholder: {type: String, default: ''},
            from: {
                type: [Number, String],
                required: true
            },
            to: {
                type: [Number, String],
                required: true
            },
            step: {
                type: [Number, String],
                default: 1
            }
        },
        updated() {
            if (this.required && !this.value) {
                this.$emit('input', this.range[0]);
            }
        },
        computed: {
            range() {
                return rangeRight(parseInt(this.from), parseInt(this.to) + 1, this.step, true);
            }
        }
    };
</script>

<template>
    <select :name="name" v-bind="$attrs" class="form-control" :value="value" @input="onInput" @change="onChange" @blur="onBlur" @focus="onFocus">
        <option value="" v-if="!required">{{ placeholder }}</option>
        <option v-for="val in range" :key="val" :value="val">
            {{val}}
        </option>
    </select>
</template>
