<script>
    /* global grecaptcha */
    import FieldMixin from './field';

    const SCRIPT_ID = 'google-rc2';
    const SCRIPT_URL = '//www.google.com/recaptcha/api.js';

    export default {
        name: 'RecaptchaField',
        mixins: [FieldMixin],
        props: {
            theme: {
                type: String,
                default: 'light',
            },
            size: {
                type: String,
                default: 'normal',
            },
            tabindex: {
                type: [String, Number],
                default: 0,
            },
            sitekey: {
                type: String,
                required: true
            },
            lang: {
                type: String,
                default: 'en'
            }
        },
        data() {
            return {
                id: null
            };
        },
        mounted() {
            if (this.hasScriptTag()) {
                this.init();
            } else {
                this.injectScript();
            }
        },
        methods: {
            hasScriptTag() {
                return document.querySelector(SCRIPT_ID);
            },
            injectScript() {
                const script = document.createElement('script');
                script.src = SCRIPT_URL + `?hl=${this.lang}`;
                script.defer = true;
                script.async = true;
                script.onload = () => {
                    this.init();
                };
                document.head.appendChild(script);
            },
            init() {
                grecaptcha.ready(this.bind.bind(this));
            },
            bind() {
                this.id = grecaptcha.render(this.$el, {
                    sitekey: this.sitekey,
                    theme: this.theme,
                    size: this.size,
                    tabindex: this.tabindex,
                    callback: (...args) => {
                        this.$emit('input', ...args);
                    },
                    'expired-callback': (...args) => {
                        this.$emit('expired', ...args);
                    },
                    'error-callback': (...args) => {
                        this.$emit('error', ...args);
                    },
                });
            },
            reset() {
                return grecaptcha.reset(this.id);
            },
            getResponse() {
                return grecaptcha.getResponse(this.id);
            }
        }
    };
</script>

<template>
    <div></div>
</template>
