<script>
    import FieldMixin from './field';

    export default {
        name: 'SelectField',
        mixins: [FieldMixin],
        props: {
            multiple: Boolean,
            placeholder: String,
            options: {type: Array, default: () => []},
            valueKey: {type: String, default: 'id'},
            labelKey: {type: String, default: 'name'},
        },
        data() {
            return {
                localValue: null,
            };
        },
        methods: {
            onChange() {
                this.$emit('input', this.localValue);
            },
            onInput() {
                this.$emit('input', this.localValue);
            }
        },
        watch: {
            value: {
                handler(val) {
                    if (this.multiple && val.constructor !== Array) {
                        val = [];
                    }
                    this.localValue = val;
                },
                immediate: true
            }
        }
    };
</script>

<template>
    <select
        class="form-control"
        :multiple="multiple"
        :name="name"
        v-model="localValue"
        @input="onInput"
        @change="onChange"
        @focus="onFocus"
        @blur="onBlur"
        >
        <option :disabled="required" value>{{ placeholder }}</option>
        <option v-for="option in options" :key="option[valueKey]" :value="option[valueKey]">
            {{ option[labelKey] }}
        </option>
    </select>
</template>
