<script>
    import $ from 'jquery';
    import 'selectize';
    import FieldMixin from './field';

    export default {
        name: 'SelectizeField',
        mixins: [FieldMixin],
        props: {
            create: Boolean,
            placeholder: String,
            disabled: Boolean,
            options: Array,
            valueKey: {type: String, default: 'id'},
            labelKey: {type: String, default: 'name'},
        },
        data() {
            return {
                selectize: null
            };
        },
        mounted() {
            this.bind();
            if (this.disabled) {
                this.selectize.disable();
            }

            if (this.value) {
                this.selectize.setValue(this.value, true);
            }
        },
        updated() {
            this.selectize.clearOptions();
            this.selectize.addOption(this.values());
        },
        destroyed() {
            this.unbind();
        },
        methods: {
            bind() {
                let $select = $(this.$el).selectize({
                    items: [this.value],
                    options: this.values(),
                    placeholder: this.placeholder,
                    allowEmptyOption: (!!this.placeholder),
                    create: this.create,
                    createOnBlur: this.create,
                    valueField: this.valueKey,
                    labelField: this.labelKey,
                    searchField: this.labelKey,
                    onChange: value => {
                        this.$emit('input', value);
                        this.$emit('change', value);
                    }
                });
                this.selectize = $select[0].selectize;
            },
            unbind() {
                this.selectize.destroy();
            },
            values() {
                return this.options;
            }
        },
        watch: {
            options() {
                this.selectize.clearOptions();
                this.selectize.addOption(this.values());

                if (this.value) {
                    this.selectize.setValue(this.value, true);
                }
            },
            disabled(flag) {
                if (flag) {
                    this.selectize.disable();
                } else {
                    this.selectize.enable();
                }
            },
            value(newVal) {
                this.selectize.setValue(newVal, true);
            }
        }
    };
</script>

<template>
    <select :value="value" :name="name" v-bind="$attrs" @input="onInput" @change="onChange">
        <slot></slot>
    </select>
</template>
