<script>
    export default {
        name: 'StaticField',
        props: {
            value: String
        }
    };
</script>

<template>
    <div class="form-control-plaintext">{{ value }}</div>
</template>
