<script>
    import CheckboxField from './CheckboxField';

    export default {
        name: 'ToggleField',
        extends: CheckboxField
    };
</script>

<template>
    <label class="custom-switch">
        <input
            ref="field"
            type="checkbox"
            class="custom-switch-input"
            :name="name"
            :checked="checked"
            :value="value"
            v-bind="$attrs"
            v-model="localValue"
            @input="onInput"
            @change="onChange"
            @focus="onFocus"
            @blur="onBlur"
        >
        <span class="custom-switch-indicator"></span>
        <span class="custom-switch-description" v-if="label || $slots.default">
            <slot>{{ label }}</slot>
        </span>
    </label>
</template>

