<script>
    import Modal from './Modal';

    export default {
        name: 'ConfirmDialog',
        components: {Modal},
        props: {
            title: {type: String, default: 'title.confirm'},
            acceptText: {
                type: String, default: 'button.confirm_dialog.accept',
            },
            dismissText: {
                type: String, default: 'button.confirm_dialog.dismiss',
            },
        },
        model: {
            event: 'input',
            prop: 'active',
        },
        data() {
            return {
                isOpen: true,
                resolvePromise: null,
            };
        },
        methods: {
            wait() {
                return new Promise(resolve => {
                    this.resolvePromise = resolve;
                    this.isOpen = true;
                });
            },
            close() {
                this.isOpen = false;
                this.$refs.modal.dismiss();
            },
            accept() {
                this.resolvePromise(true);
                this.close();
            },
            reject() {
                this.resolvePromise(false);
                this.close();
            },
        }
    };
</script>

<template>
    <modal :title="title" no-scroll :active="isOpen">
        <slot></slot>

        <template slot="actions">
            <btn type="button" color="primary" @click="accept">{{ acceptText|trans }}</btn>
            <btn type="button" color="" @click="reject">{{ dismissText|trans }}</btn>
        </template>
    </modal>
</template>
