<script>
    export default {
        name: 'Modal',
        model: {
            prop: 'active',
            event: 'dismiss',
        },
        props: {
            title: String,
            active: Boolean,
            noBackdrop: Boolean,
            noScroll: Boolean,
        },
        created() {
            this.bind();
        },
        methods: {
            dismiss() {
                this.$emit('dismiss', false);
            },
            bind() {
                const escClose = (e) => {
                    if (e.key === 'Escape' && this.active) {
                        this.dismiss();
                    }
                };
                document.body.addEventListener('keydown', escClose);
                this.$once('hooks:destroyed', () => {
                    document.body.removeEventListener('keydown', escClose);
                    if (this.backdrop) {
                        this.removeBackdrop();
                    }
                });
                this.$emit('open');
            },
            addBackdrop() {
                this.backdrop = document.createElement('div');
                this.backdrop.classList.add('modal-backdrop');
                this.backdrop.classList.add('show');
                document.body.appendChild(this.backdrop);
            },
            removeBackdrop() {
                if (!this.backdrop) return;
                this.backdrop.parentNode.removeChild(this.backdrop);
                this.backdrop = null;
            },
        },
        watch: {
            active: {
                handler(value) {
                    if (this.noBackdrop) return;

                    if (value) {
                        this.addBackdrop();
                        if (this.noScroll) {
                            document.body.classList.add('scroll-locked');
                        }
                    } else {
                        this.removeBackdrop();
                        document.body.classList.remove('scroll-locked');
                    }
                },
                immediate: true
            }
        }
    };
</script>

<template>
    <div class="modal" tabindex="-1" role="dialog" :class="{active}">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" v-if="title || $slots.title">
                    <h5 class="modal-title">
                        <slot name="title">{{title}}</slot>
                    </h5>
                    <button type="button" class="close" @click="dismiss">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot :dismiss="dismiss"></slot>
                </div>
                <div class="modal-footer" v-if="$scopedSlots.actions || $slots.actions">
                    <slot name="actions" :dismiss="dismiss"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
    .modal {
        &.active {
            display: block;
        }
    }
</style>

<style>
    .scroll-locked {
        max-height: 100vh;
        overflow: hidden;
    }
</style>
