<script>
    import ConnectChat from './ConnectChat';

    export default {
        props: {
            telegramBotName: String,
            viberBotName: String,
        },
        data() {
            return {
                code: null,
                timer: null,
            };
        },
        components: { ConnectChat },
        filters: {
            code(value) {
                if (!value) {
                    return value;
                }
                const parts = value.toString().match(/([\d]{4})([\d]{4})/);
                return `${parts[1]}-${parts[2]}`;
            }
        },
        created() {
            this.load();
            this.timer = setInterval(this.load.bind(this), 3000);
        },
        destroyed() {
            clearInterval(this.timer);
        },
        computed: {
            status() {
                return this.$store.state.messengers;
            }
        },
        methods: {
            async load() {
                const data = await this.$store.dispatch('messengers/getStatus');
                this.code = data.code;
            },
            onCodeCopied() {
                this.$toast.info(this.$t('toast.messengers.code_copied'));
            }
        }
    };
</script>

<template>
    <card>
        <card-heading>{{ 'title.connect_messengers'|trans }}</card-heading>
        <card-body>
            <div>
                {{ 'text.connect_bot_and_send_code'|trans }}
                <div class="text-center mt-4">
                    <h2>
                        <copy-text @copy="onCodeCopied">{{ code|code }}</copy-text>
                    </h2>
                </div>
            </div>
            <hr/>
            <connect-chat messenger="telegram" :connected="status.telegramConnected" :botname="telegramBotName" @disconnect="load">

            </connect-chat>
            <connect-chat messenger="viber" :connected="status.viberConnected" :botname="viberBotName" @disconnect="load">

            </connect-chat>
        </card-body>
    </card>
</template>
