<script>
    const TELEGRAM_PATTERN = 'https://telegram.me/:name';
    const VIBER_PATTERN = 'viber://pa?chatURI=:name';

    import api from '../api';

    export default {
        props: {
            messenger: { type: String, required: true },
            connected: Boolean,
            botname: { type: String, required: true },
        },
        computed: {
            pattern() {
                switch (this.messenger) {
                    case 'telegram':
                        return TELEGRAM_PATTERN;
                    case 'viber':
                        return VIBER_PATTERN;
                }
            },
            connectUrl() {
                return this.pattern.replace(':name', this.botname);
            }
        },
        methods: {
            async disconnect() {
                await api.disconnect(this.messenger);
                this.$emit('disconnect');
            },
            check() {
                api.check(this.messenger);
                this.$toast.info(this.__('toast.test_message_sent'));
            },
        }
    };
</script>

<template>
    <div class="mb-4">
        <div class="pb-2"><b>{{ messenger|capitalize}}</b></div>
        <div v-if="connected" class="d-flex justify-content-between">
            <btn size="sm" @click="check">{{ 'button.send_test_message'|trans }}</btn>
            <btn size="sm" color="danger" @click="disconnect">{{ 'button.disconnect_bot'|trans }}</btn>
        </div>
        <div v-else>
            <a :href="connectUrl" target="_blank" class="d-block pt-2 pb-2">{{ 'button.connect_bot'|trans }}</a>
        </div>
    </div>
</template>
