<script>
    import Spinner from './Spinner';

    /**
     * A loader which renders an overlay over the target element when active.
     */
    export default {
        name: 'OverlayLoader',
        props: {
            /**
             * Delay loading effect.
             */
            delay: {type: Number, default: 200},

            /**
             * Active state flag.
             */
            active: Boolean
        },
        data() {
            return {
                isLoading: this.active,
                timer: null
            };
        },
        components: {
            loader: Spinner
        },
        methods: {
            async activeWhile(promise) {
                this.timer = setTimeout(() => {
                    this.isLoading = true;
                }, this.delay);
                await promise;
                clearTimeout(this.timer);
                this.isLoading = false;
                return promise;
            },
        },
        watch: {
            active(isActive) {
                this.isLoading = isActive;
            }
        }
    };
</script>

<template>
    <div class="overlay">
        <slot></slot>

        <div v-if="isLoading">
            <div class="loading"></div>
            <div class="indicator">
                <slot name="spinner">
                    <loader></loader>
                </slot>
            </div>
        </div>
    </div>
</template>

<style scoped lang="scss">
    .overlay {
        position: relative;
        min-height: 150px;
    }

    .loading {
        background: red;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        background: white;
        opacity: .8;
        z-index: 900;
    }

    .indicator {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 901;
    }
</style>
