<script>
    export default {
        name: 'Spinner',
        props: {
            size: {
                type: [String, Number],
                default: 50
            }
        },
    };
</script>

<template>
    <div class="loader"></div>
</template>

<style scoped lang="scss">
    .loader {
        padding: 5px;
        display: inline-block;

        &:after {
            animation-duration: 1s;
        }
    }
</style>
