<script>
    import {Logo} from '@arasari/theme-tabler/src/components';

    export default {
        name: 'AppLayout',
        props: {
            noMobileCollapse: Boolean,
            logo: {type: String},
            logoSm: {type: String},
            homepage: {type: Object}
        },
        components: {Logo}
    };
</script>

<template>
    <div class="page">
        <div class="page-main">
            <div class="header py-4">
                <div class="container">
                    <div class="d-flex justify-content-between">
                        <div class="d-none d-md-flex">
                            <logo :src="logo" :route="homepage"></logo>
                        </div>
                        <div class="d-md-none" style="flex-shrink: 0">
                            <logo :src="logoSm" :route="homepage"></logo>
                        </div>

                        <div class="order-lg-2 align-items-center">
                            <div class="nav-item d-flex mr-5">
                                <slot name="navbarActions"></slot>
                            </div>
                            <slot name="navbarToolbar">
                                <!--<notifications-popup></notifications-popup>-->
                            </slot>
                            <slot name="userMenu"></slot>
                        </div>

                        <a v-if="!noMobileCollapse" href="#" class="header-toggler d-lg-none ml-3 ml-lg-0"
                           data-toggle="collapse"
                           data-target="#headerMenuCollapse">
                            <span class="header-toggler-icon"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header collapse d-lg-flex p-0" :class="{'show': noMobileCollapse}" id="headerMenuCollapse">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3 ml-auto">
                            <slot name="menuControls"></slot>
                        </div>
                        <div class="col-lg order-lg-first">
                            <slot name="mainMenu"></slot>
                        </div>
                    </div>
                </div>
            </div>
            <div class="my-3 my-md-5">
                <div class="container">
                    <slot name="globalNotification"></slot>
                    <slot></slot>
                </div>
            </div>
        </div>
        <div class="footer" v-if="$slots.footerLinks">
            <div class="container">
                <slot name="footerLinks"></slot>
            </div>
        </div>
        <footer class="footer" v-if="$slots.footer">
            <div class="container">
                <slot name="footer"></slot>
            </div>
        </footer>
    </div>
</template>
