<script>
    import SimpleLayout from './SimpleLayout';
    import {Logo} from '@arasari/theme-tabler/src/components';

    export default {
        name: 'AuthLayout',
        components: {SimpleLayout, Logo},
        props: {
            homepage: {type: Object, required: true},
            logo: String
        }
    };
</script>

<template>
    <simple-layout>
        <div class="row">
            <div class="col col-login mx-auto">
                <div class="text-center mb-6" v-if="logo">
                    <logo :src="logo" :route="homepage"></logo>
                    <!--<img :src="logo" class="h-6" alt="">-->
                </div>

                <slot></slot>
            </div>
        </div>
    </simple-layout>
</template>
