<script>
    export default {
        name: 'EmptyAppLayout',
    };
</script>


<template>
    <div class="page-main">
        <div class="header py-4">
            <div class="container">
                <div class="d-flex">
                    <logo src="/img/logo.png" route="/"></logo>
                </div>
            </div>
        </div>
        <div class="my-3 my-md-5">
            <div class="container">
                <slot>
                    <router-view></router-view>
                </slot>
            </div>
        </div>
    </div>
</template>
