<script>
    export default {
        name: 'SimpleLayout',
    };
</script>

<template>
    <div class="page">
        <div class="page-single">
            <div class="container">
                <slot></slot>
            </div>
        </div>
    </div>
</template>
