<script>
    import RenderlessPagedDataProvider from './RenderlessPagedDataProvider';

    export default {
        name: 'PagedDataProvider',
        components: {RenderlessPagedDataProvider},
        methods: {
            setCurrentPage(page, setPage) {
                setPage(page);
                this.scrollToTop();

            },
            load(...args) {
                this.$refs.loader.load(...args);
            },
            scrollToTop() {
                window.scrollTo({
                    top: this.$refs.marker.getBoundingClientRect().top,
                    behavior: 'instant'
                });
            },
        }
    };
</script>

<template>
    <renderless-paged-data-provider v-bind="$attrs" ref="loader">
        <div slot-scope="{ isLoading, error, items, isFirstLoad, page, pageSize, setPage, totalItems }">
            <div>
                <div>
                    <progress-bar indeterminate v-if="isLoading"></progress-bar>

                    <div v-if="error">
                        <slot name="error" :error="error">
                            <alert color="danger">{{ error }}</alert>
                        </slot>
                    </div>

                    <div v-else-if="items.length">
                        <a id="__di_marker" ref="marker"></a>
                        {{error}}
                        <slot :items="items"></slot>
                    </div>

                    <div v-else-if="!isFirstLoad && !items.length">
                        <slot name="emptyState">
                            <empty-state>
                                {{ 'text.no_items_yet'|trans }}
                            </empty-state>
                        </slot>
                    </div>

                </div>
                <div class="text-center">
                    <pagination
                        :disabled="isLoading"
                        :total="totalItems"
                        :page-size="pageSize"
                        :value="page"
                        @input="setCurrentPage($event, setPage)"
                    ></pagination>
                </div>
            </div>
        </div>
    </renderless-paged-data-provider>
</template>
