<script>
    import DataProvider from './DataProvider';

    export default {
        name: 'RenderlessPagedDataProvider',
        components: {DataProvider},
        props: {
            provider: {type: Function, required: true},
            page: {type: [String, Number], default: 1},
            pageSize: {type: [String, Number], default: 50},
            pageParam: {type: String, default: 'page'},
            pageSizeParam: {type: String, default: 'page_size'},
            resultsProp: {type: String, default: 'results'},
            totalItemsProp: {type: String, default: 'total'},
        },
        data() {
            return {
                lastCriteria: {},
                currentPage: 1,
                currentPageSize: 50,
                totalItems: 0,
                debounceTimeout: 0,
            };
        },
        created() {
            this.setupFromQuery();
        },
        mounted() {
            this.load(this.lastCriteria);
        },
        methods: {
            setupFromQuery() {
                this.lastCriteria = this.$route.query;
                this.currentPage = this.$route.query[this.pageParam] || this.page;
                this.currentPageSize = this.$route.query[this.pageSizeParam] || this.pageSize;
            },
            buildCriteria(criteria = {}) {
                if (this.pageParam in criteria) {
                    this.currentPage = criteria[this.pageParam];
                }

                if (this.pageSizeParam in criteria) {
                    this.currentPageSize = criteria[this.pageSizeParam];
                }

                criteria = Object.assign({}, this.lastCriteria, criteria, {
                    [this.pageParam]: this.currentPage,
                    [this.pageSizeParam]: this.currentPageSize
                });
                return criteria;
            },
            dataProvider() {
                return (criteria) => {
                    clearTimeout(this.debounceTimeout);

                    criteria = this.buildCriteria(criteria);
                    this.lastCriteria = criteria;

                    this.$router.replace(Object.assign({}, this.$route, {
                        query: {
                            ...Object.assign({}, this.$route.query),
                            ...criteria
                        },
                    }));

                    return new Promise((resolve, reject) => {
                        this.debounceTimeout = setTimeout(() => {
                            this.provider(criteria)
                                .then(data => {
                                    this.totalItems = data[this.totalItemsProp];
                                    resolve(data[this.resultsProp]);
                                })
                                .catch(reject);
                        }, 150);
                    });
                };
            },
            load(criteria) {
                return this.$refs.loader.load(this.buildCriteria(criteria));
            },
            setPage(page) {
                this.currentPage = page;
            },
            setPageSize(size) {
                this.currentPageSize = size;
            },
            goTo(page) {
                this.load(this.buildCriteria({[this.pageParam]: page}));
            },
            changePageSize(size) {
                this.load(this.buildCriteria({[this.pageSizeParam]: size}));
            },
            onRouteChanged() {
                this.setupFromQuery();
                this.load(this.lastCriteria);
            }
        },
        watch: {
            currentPageSize: 'changePageSize',
            currentPage: 'goTo',
            '$route.fullPath': 'onRouteChanged'
        }
    };
</script>
<template>
    <data-provider autoload :provider="dataProvider()" ref="loader">
        <div slot-scope="binds">
            <slot
                v-bind="binds"
                :items="binds.data || []"
                :total-items="totalItems"
                :page="currentPage"
                :page-size="currentPageSize"
                :set-page="setPage"
                :set-page-size="setPageSize"
                :criteria="lastCriteria"
            ></slot>
        </div>
    </data-provider>
</template>
