<script>
    /**
     * status property is in form "bg-green" but we accept only color part.
     * Example:
     *  <avatar status="green" />
     */
    export default {
        name: 'Avatar',
        props: {
            src: String,
            status: String,
            size: String
        },
        computed: {
            styles() {
                return {
                    backgroundImage: `url(${this.src})`
                };
            },
            classes() {
                const list = ['avatar'];

                if (this.status) {
                    list.push('avatar-status');
                    list.push(`bg-${this.status}`);
                }

                if (this.size) {
                    list.push(`avatar-${this.size}`);
                }

                return list;
            }
        }
    };
</script>

<template>
    <span :style="styles" :class="classes"></span>
</template>
