<script>
    export default {
        name: 'ProgressBar',
        props: {
            indeterminate: Boolean,
            progress: { type: [String, Number], default: 10 }
        },
        computed: {
            classes() {
                return {
                    determinate: !this.indeterminate,
                    indeterminate: this.indeterminate,
                };
            },
            styles() {
                if (this.indeterminate) {
                    return {};
                }

                return {
                    width: `${this.progress}%`
                };
            }
        }
    };
</script>

<template>
    <div class="linear-activity">
        <div :class="classes" :style="styles"></div>
    </div>
</template>

<style scoped lang="scss">
    @import "~bootstrap/scss/functions";
    @import "~bootstrap/scss/variables";
    @import "~bootstrap/scss/mixins";

    $bar-color: lighten($primary, 43%);
    $bar-inner-color: lighten($primary, 10%);

    .linear-activity {
        overflow: hidden;
        height: 4px;
        background-color: $bar-color;
        margin: 8px auto;
    }

    .determinate {
        position: relative;
        max-width: 100%;
        height: 100%;
        -webkit-transition: width 500ms ease-out 1s;
        -moz-transition: width 500ms ease-out 1s;
        -o-transition: width 500ms ease-out 1s;
        transition: width 500ms ease-out 1s;
        background-color: $bar-inner-color;
    }

    .indeterminate {
        position: relative;
        width: 100%;
        height: 100%;
    }

    .indeterminate:before {
        content: '';
        position: absolute;
        height: 100%;
        background-color: $bar-inner-color;
        animation: indeterminate_first 1.5s infinite ease-out;
    }

    .indeterminate:after {
        content: '';
        position: absolute;
        height: 100%;
        background-color: $bar-inner-color;
        animation: indeterminate_second 1.5s infinite ease-in;
    }

    @keyframes indeterminate_first {
        0% {
            left: -100%;
            width: 100%;
        }
        100% {
            left: 100%;
            width: 10%;
        }
    }

    @keyframes indeterminate_second {
        0% {
            left: -150%;
            width: 100%;
        }
        100% {
            left: 100%;
            width: 10%;
        }
    }
</style>
