<script>
    export default {
        computed: {
            items() {
                return this.$store.getters['content/alerts'];
            },
        },
        methods: {
            onDismiss(alert) {
                this.$store.dispatch('content/dismissAlert', alert.id);
            }
        }
    };
</script>

<template>
    <div>
        <alert
            v-for="item in items"
            :color="item.type"
            :key="item.id"
            :heading="item.title"
            :closeable="item.dismissible"
            @close="onDismiss(item)"
        >
            <div v-html="item.text"></div>
        </alert>
    </div>
</template>
