<script>
    export default {
        props: {
            id: {type: String, required: true}
        },
        computed: {
            blocks() {
                return this.$store.getters['content/contentBlocks'].filter(b => b.placement === this.id);
            },
            content() {
                return this.blocks.map(b => b.content).join('');
            }
        }
    };
</script>

<template>
    <div v-html="content" v-if="content"></div>
</template>
