<script>
    import highlight from 'highlight.js';
    import 'highlight.js/styles/atom-one-light.css';
    import beautify from 'js-beautify';

    export default {
        props: {
            code: String
        },
        computed: {
            markup() {
                return highlight.highlight('html', beautify.html_beautify(this.code, {
                    indent_inner_html: true,
                    indent_size: 4
                })).value;
            }
        }
    };
</script>

<template>
    <div>
        <h4>Code</h4>

        <div>
            <pre>
            <code class="hljs html" v-html="markup">

            </code>
            </pre>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    pre {
        background: transparent;
        border: 0px solid #ddd;
        height: auto;
        padding: 8px;
    }
</style>
