<script>
    export default {
        props: {
            prop: String,
            description: String
        },
    };
</script>

<template>
    <div class="example">
        <div class="header">EXAMPLE</div>
        <div class="preview">
            <slot></slot>
        </div>
    </div>
</template>

<style lang="scss" scoped>
    .example {
        border: 1px solid #ddd;
        padding: 16px;
    }

    .header {
        font-size: 13px;
        font-weight: 700;
        color: #aab8c2;
        margin-bottom: 10px;
    }

    .preview {
        /*padding: 8px;*/
        /*background: #eee;*/
    }
</style>
