<script>
    import marked from 'marked';
    import hljs from 'highlight.js';
    import beautify from 'js-beautify';

    export default {
        name: 'Markdown',
        computed: {
            code() {
                const text = this.$slots.default[0].text
                    .split('\n')
                    .map(line => line.replace(/^\s+/, ''))
                    .join('\n')
                ;
                return marked(text, {
                    highlight: function(code, lang) {
                        let formatted = code;
                        if (lang === 'js') {
                            formatted = beautify.js_beautify(code);
                        }
                        if (lang === 'html') {
                            formatted = beautify.html_beautify(code);
                        }
                        if (lang === 'css') {
                            formatted = beautify.css_beautify(code);
                        }
                        return hljs.highlight(lang, formatted).value;
                    }
                });
            }
        }
    };
</script>
<template>
    <div>
        <div v-html="code">

        </div>
    </div>
</template>
