<script>
    export default {
        props: {
            code: String
        }
    };
</script>

<template>
    <div>
        <code-viewer :code="code"></code-viewer>
        <slot></slot>
    </div>
</template>
