<script>
    export default {
        props: {
            topic: {type: Object, required: true}
        }
    };
</script>

<template>
    <card>
        <card-heading>
            <router-link :to="{name: 'faq/topic', params: {slug: topic.slug}}">
                {{topic.title}}
            </router-link>
        </card-heading>
        <card-body>
            {{topic.brief_content}}
        </card-body>
    </card>
</template>
