<script>
    export default {
        name: 'PageHeader',
    };
</script>

<template>
    <div class="page-header">
        <h1 class="page-title">
            <slot></slot>
        </h1>
    </div>
</template>

<style lang="scss" scoped>
    .page-header {
        margin-top: 0;
    }
</style>
