<script>
    /**
     * A status icon.
     *
     * Usage:
     *  <status-icon color="red" />
     */
    export default {
        name: 'StatusIcon',
        props: {
            color: String
        },
        computed: {
            cssClasses() {
                return ['status-icon', `bg-${this.color}`];
            }
        }
    };
</script>

<template>
    <span :class="cssClasses"></span>
</template>
