<script>
    import moment from 'moment';

    export default {
        props: {
            value: {required: true},
        },
        data() {
            return {
                timeAgo: null
            };
        },
        created() {
            this.timeAgo = this.getTimeAgo();

            setInterval(() => {
                this.timeAgo = this.getTimeAgo();
            }, 1000);
        },
        methods: {
            getTimeAgo() {
                return moment(this.value).local().fromNow();
            }
        },
        computed: {
            timeElapsed() {
                return this.timeAgo;
            }
        }
    };
</script>

<template>
    <span class="text-muted">
    {{ timeElapsed }}
    </span>
</template>
