<script>
    /**
     * Copies wrapped text to clipboard when clicked.
     */
    export default {
        name: 'CopyText',
        methods: {
            async copy() {
                await navigator.clipboard.writeText(this.$el.innerText);
                this.$emit('copy');
            }
        }
    };
</script>

<template>
    <span @click="copy">
        <slot></slot>
    </span>
</template>

<style lang="scss" scoped>
    span {
        cursor: pointer;
    }
</style>
