<script>
    import image from './empty_state.svg';

    export default {
        name: 'EmptyState',
        props: {
            heading: String,
            image: {type: String, default: image},
        },
    };
</script>

<template>
    <card>
        <card-body>
            <div class="text-center">
                <div v-if="image" class="mb-6">
                    <slot name="image">
                        <img :src="image">
                    </slot>
                </div>
                <div v-if="heading">
                    <h4>{{ heading }}</h4>
                </div>
                <div class="text-muted">
                    <slot></slot>
                </div>
                <div v-if="$slots.action" class="pt-5">
                    <slot name="action"></slot>
                </div>
            </div>
        </card-body>
    </card>
</template>

<style lang="scss" scoped>
    img {
        max-width: 200px;
    }
</style>
