<script>
    export default {
        name: 'ScrollArea',
        props: {
            height: {type: String, default: '300px'}
        },
        computed: {
            styles() {
                return {
                    'max-height': this.height
                };
            }
        },
    };
</script>

<template>
    <div :style="styles" class="scroll-area">
        <slot></slot>
    </div>
</template>

<style lang="scss" scoped>
    .scroll-area {
        overflow-y: auto;
    }
</style>
